{% extends 'base.html.twig' %}

    {% block body %}
        {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.numetud) }}

        <button type="submit">Register!</button>
        {{ form_end(form) }}

    {% endblock %}
    {% block javascripts %}{% endblock %}
